# Android
.gradle/
build/
*/build/
local.properties
.idea/
*.iml

# Python
pc/.venv/
pc/__pycache__/
*.py[cod]

# Python environments
.venv/
venv/

# OS
.DS_Store
Thumbs.db

# files
pc/server/test_artwork.jpg